<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Website Demo</display-name>
	<welcome-file-list>
		<welcome-file>Home</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>controller.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>controller.SignUp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/SignUp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controller.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewInfo</servlet-name>
		<servlet-class>controller.ViewInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewInfo</servlet-name>
		<url-pattern>/ViewInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewBook</servlet-name>
		<servlet-class>controller.ViewBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewBook</servlet-name>
		<url-pattern>/ViewBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewCategory</servlet-name>
		<servlet-class>controller.ViewBookshelf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewCategory</servlet-name>
		<url-pattern>/Categories</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewCart</servlet-name>
		<servlet-class>controller.ViewCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewCart</servlet-name>
		<url-pattern>/ViewCart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QLBangTin</servlet-name>
		<servlet-class>controller.AdminQLBangTin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QLBangTin</servlet-name>
		<url-pattern>/Manager/BangTin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QLDonHang</servlet-name>
		<servlet-class>controller.AdminQLDonHang</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QLDonHang</servlet-name>
		<url-pattern>/Manager/DonHang</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CTDonHang</servlet-name>
		<servlet-class>controller.AdminCT_DonHang</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CTDonHang</servlet-name>
		<url-pattern>/Manager/CT-DonHang</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QLKhachHang</servlet-name>
		<servlet-class>controller.AdminQLKhachHang</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QLKhachHang</servlet-name>
		<url-pattern>/Manager/KhachHang</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CT_KhachHang</servlet-name>
		<servlet-class>controller.AdminCT_KhachHang</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CT_KhachHang</servlet-name>
		<url-pattern>/Manager/CT-KhachHang</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QLKhoSach</servlet-name>
		<servlet-class>controller.AdminQLKhoSach</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QLKhoSach</servlet-name>
		<url-pattern>/Manager/KhoSach</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QLSach</servlet-name>
		<servlet-class>controller.AdminQLSach</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QLSach</servlet-name>
		<url-pattern>/Manager/Sach</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QLThuChi</servlet-name>
		<servlet-class>controller.AdminQLThuChi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QLThuChi</servlet-name>
		<url-pattern>/Manager/ThuChi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>controller.ViewSearchBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserCTDonHang</servlet-name>
		<servlet-class>controller.UserCT_DonHang</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCTDonHang</servlet-name>
		<url-pattern>/UserCT-DonHang</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserCTBanTin</servlet-name>
		<servlet-class>controller.UserCT_BanTin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCTBanTin</servlet-name>
		<url-pattern>/UserCT-BanTin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FilterCat</servlet-name>
		<servlet-class>controller.ViewFilterCat</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FilterCat</servlet-name>
		<url-pattern>/Filter</url-pattern>
	</servlet-mapping>
</web-app>